@import 'resert';


body{
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: down bottom;
    
}
.todo{
    .container{
        max-width: 1140px;
        margin: auto;
        margin-top: 200px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        .info{
            margin-top: 40px;
            margin-left: 40px;
            .list{
                li{
                    font-size: 18px;
                    padding: 15px;
                    a{
                        text-decoration: none;
                        color: red;
                    }
                }
            }
        }
    }
}